<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Use Spring Boot's default conversion words -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <!-- Lê a variável LOG_DIR do ambiente ou usa "logs" como padrão local -->
    <property name="LOGS_DIR" value="${LOG_DIR:-logs}" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%5p) %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Rotação diária -->
            <fileNamePattern>${LOGS_DIR}/%d{yyyy_MM_dd}_steam-wishlist-monitor.log</fileNamePattern>
            <!-- Mantém 30 dias de histórico -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
